**Collecting and Cleaning the Data**

First, we will import memorable_quotes.txt from the Cornell Movie Quotes Corpus and convert the information we want as a dataframe.

In [ ]:
import pandas as pd

columns = ["movie_title", "memorable_quote", "LINE_ID_MEMORABLE_MATCHED_QUOTE"]
with open("/content/moviequotes.memorable_quotes.txt", "r",
          encoding="latin-1") as file:
    text = file.read()
chunks = text.strip().split("\n\n")
data = [chunk.split("\n") for chunk in chunks]

df_memorable = pd.DataFrame(data, columns = columns)

Next we will import scripts.txt so that we can merge by line_id to get the characters that say their corresponding line.

In [ ]:
df_memorable["line_id"] = df_memorable["LINE_ID_MEMORABLE_MATCHED_QUOTE"].str.split(" ").str[0]
df_memorable["line_id"] = df_memorable["line_id"].astype(int)
df_memorable = df_memorable[["movie_title", "memorable_quote", "line_id"]]

In [ ]:
columns = ["line_id", "movie_title", "movie_line_nr", "character",
           "reply_to_line_id", "text"]

# read in file as df
df_full = pd.read_csv("moviequotes.scripts.txt", delimiter=r" \+\+\+\$\+\+\+ ",
                      engine="python", header=None, names=columns,
                      encoding="ISO-8859-1")

In [ ]:
df_full = df_full[df_full["line_id"].isin(df_memorable["line_id"])]
df_full = df_full[["line_id", "character"]]
df_full

        line_id character
733         733       kat
788         788       kat
831         831    bianca
876         876   michael
979         979    walter
...         ...       ...
892829   893074    keenan
893222   893467    sydney
893951   894196    storey
894001   894246  pulleine
894013   894258  crealock

[6280 rows x 2 columns]

In [ ]:
df = df_memorable.merge(df_full, on=("line_id"))

In [ ]:
#putting a separator (_) between quotes said by same character
df_joined = df.groupby(["movie_title", "character"], as_index=False).agg({
    "memorable_quote": "_".join
})
df_joined.to_csv("memorable_quotes.csv")

Installing Cinemagoer to find imdb IDs of movies

In [ ]:
pip install cinemagoer

Requirement already satisfied: cinemagoer in /usr/local/lib/python3.11/dist-packages (2023.5.1)
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.11/dist-packages (from cinemagoer) (2.0.39)
Requirement already satisfied: lxml in /usr/local/lib/python3.11/dist-packages (from cinemagoer) (5.3.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy->cinemagoer) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy->cinemagoer) (4.12.2)

In [ ]:
df_memorable = pd.read_csv("memorable_quotes.csv")
df_memorable

,Unnamed: 0,movie_title,character,memorable_quote
0,0,10 things i hate about you,bianca,You're asking me out? That's so cute! What's y...
1,1,10 things i hate about you,cameron,"Just 'cause you're beautiful, that doesn't mea..."
2,2,10 things i hate about you,joey,Watching that bitch violate my car doesn't cou...
3,3,10 things i hate about you,kat,"I guess in this society, being male and an ass..."
4,4,10 things i hate about you,michael,"I have a dick on my face, don't I?"
...,...,...,...,...
3233,3233,zerophilia,keenan,You're gonna' have a great time with her tonig...
3234,3234,zerophilia,sydney,That's the thing about the truth. It'll set yo...
3235,3235,zulu dawn,crealock,"Excuse me, my Lord, there's something I must c..."
3236,3236,zulu dawn,pulleine,"Well fought, Gentlemen. It's time to save the ..."
3237,3237,zulu dawn,storey,Oh no! Come all this bloody way to get shot by...

We will be using the IMDB API by Octopus Team to get our movie info and the IMDB Scraper API by Oanor to get our actor info. The IMDB APIs have limits for the free plan, so we have to change the key after a certain number of requests.

In [ ]:
num = "1" #the api's have a request limit
#repeat steps appropriate number of times to get all info
df_num = df_memorable.iloc[0: 100, :]
df_num

,Unnamed: 0,movie_title,character,memorable_quote
0,0,10 things i hate about you,bianca,You're asking me out? That's so cute! What's y...
1,1,10 things i hate about you,cameron,"Just 'cause you're beautiful, that doesn't mea..."
2,2,10 things i hate about you,joey,Watching that bitch violate my car doesn't cou...
3,3,10 things i hate about you,kat,"I guess in this society, being male and an ass..."
4,4,10 things i hate about you,michael,"I have a dick on my face, don't I?"
...,...,...,...,...
95,95,air force one,rose,". No matter what happens, we land this aircraf..."
96,96,airplane,air controller #1,I know but this guy has no flying experience a...
97,97,airplane,businessman,"Well, I'll give him another twenty minutes, bu..."
98,98,airplane,dr. rumack,I just want to tell you both good luck. We're ...
99,99,airplane,gunderson,He's all over the place! Nine hundred feet up ...

In [ ]:
unique_movies = df_num["movie_title"].unique().tolist() #checks movies
unique_movies

['10 things i hate about you',
 '1492: conquest of paradise',
 '15 minutes',
 '2001: a space odyssey',
 '8mm',
 'a bucket of blood',
 'a clockwork orange',
 'a few good men',
 "a hard day's night",
 'a nightmare on elm street',
 'a nightmare on elm street 3: dream warriors',
 'a nightmare on elm street 4: the dream master',
 "a nightmare on elm street part 2: freddy's revenge",
 'a nightmare on elm street: the dream child',
 'a perfect world',
 'a serious man',
 'a walk to remember',
 'above the law',
 'absolute power',
 'ace ventura pet detective',
 'adaptation',
 'affliction',
 'after school special',
 'agnes of god',
 'air force one',
 'airplane']

In [ ]:
import requests
from imdb import Cinemagoer # extracts the imdb ID based on a movie name

ia = Cinemagoer()

This API grabs info about the cast of the specified movie.

In [ ]:
#function for movie id
def get_id(movie_name):
  movies = ia.search_movie(movie_name)
  movie = movies[0]
  return movie.movieID

#function for movie info
def get_movie_info(movie_id):
  url = f"https://imdb236.p.rapidapi.com/imdb/tt{movie_id}/cast"
  headers = {
	"x-rapidapi-key": "e8b568dfbcmshcb2b1b257c05f75p1f4700jsn0675dce0a24d",
	"x-rapidapi-host": "imdb236.p.rapidapi.com"
}
  response = requests.get(url, headers=headers)
  return response.json()

movie_ids = []
movie_jsons = {}
for movie in unique_movies:
  id = get_id(movie)
  movie_ids.append(id)
  movie_json = get_movie_info(id)
  movie_jsons[movie] = movie_json

In [ ]:
movie_json

[{'id': 'nm0001332',
  'url': 'https://www.imdb.com/name/nm0001332/',
  'fullName': 'Robert Hays',
  'job': 'actor',
  'characters': ['Ted Striker']},
 {'id': 'nm0353546',
  'url': 'https://www.imdb.com/name/nm0353546/',
  'fullName': 'Julie Hagerty',
  'job': 'actress',
  'characters': ['Elaine Dickinson']},
 {'id': 'nm0000558',
  'url': 'https://www.imdb.com/name/nm0000558/',
  'fullName': 'Leslie Nielsen',
  'job': 'actor',
  'characters': ['Dr. Rumack']},
 {'id': 'nm0000717',
  'url': 'https://www.imdb.com/name/nm0000717/',
  'fullName': 'Kareem Abdul-Jabbar',
  'job': 'actor',
  'characters': ['Roger Murdock']},
 {'id': 'nm0000978',
  'url': 'https://www.imdb.com/name/nm0000978/',
  'fullName': 'Lloyd Bridges',
  'job': 'actor',
  'characters': ['Steve McCroskey']},
 {'id': 'nm0336335',
  'url': 'https://www.imdb.com/name/nm0336335/',
  'fullName': 'Peter Graves',
  'job': 'actor',
  'characters': ['Captain Clarence Oveur']},
 {'id': 'nm0666309',
  'url': 'https://www.imdb.com/name/nm0666309/',
  'fullName': 'Lorna Patterson',
  'job': 'actress',
  'characters': ['Randy']},
 {'id': 'nm0821041',
  'url': 'https://www.imdb.com/name/nm0821041/',
  'fullName': 'Robert Stack',
  'job': 'actor',
  'characters': ['Captain Rex Kramer']},
 {'id': 'nm0835992',
  'url': 'https://www.imdb.com/name/nm0835992/',
  'fullName': 'Stephen Stucker',
  'job': 'actor',
  'characters': ['Johnny Henshaw-Jacobs']},
 {'id': 'nm1290293',
  'url': 'https://www.imdb.com/name/nm1290293/',
  'fullName': 'Otto',
  'job': 'actor',
  'characters': ['Otto']},
 {'id': 'nm0000720',
  'url': 'https://www.imdb.com/name/nm0000720/',
  'fullName': 'Jim Abrahams',
  'job': 'director',
  'characters': []},
 {'id': 'nm0001878',
  'url': 'https://www.imdb.com/name/nm0001878/',
  'fullName': 'David Zucker',
  'job': 'director',
  'characters': []},
 {'id': 'nm0958387',
  'url': 'https://www.imdb.com/name/nm0958387/',
  'fullName': 'Jerry Zucker',
  'job': 'director',
  'characters': []},
 {'id': 'nm0000720',
  'url': 'https://www.imdb.com/name/nm0000720/',
  'fullName': 'Jim Abrahams',
  'job': 'writer',
  'characters': []},
 {'id': 'nm0001878',
  'url': 'https://www.imdb.com/name/nm0001878/',
  'fullName': 'David Zucker',
  'job': 'writer',
  'characters': []},
 {'id': 'nm0958387',
  'url': 'https://www.imdb.com/name/nm0958387/',
  'fullName': 'Jerry Zucker',
  'job': 'writer',
  'characters': []},
 {'id': 'nm0205727',
  'url': 'https://www.imdb.com/name/nm0205727/',
  'fullName': 'Jon Davison',
  'job': 'producer',
  'characters': []},
 {'id': 'nm0000930',
  'url': 'https://www.imdb.com/name/nm0000930/',
  'fullName': 'Elmer Bernstein',
  'job': 'composer',
  'characters': []},
 {'id': 'nm0005657',
  'url': 'https://www.imdb.com/name/nm0005657/',
  'fullName': 'Joseph F. Biroc',
  'job': 'cinematographer',
  'characters': []},
 {'id': 'nm0448269',
  'url': 'https://www.imdb.com/name/nm0448269/',
  'fullName': 'Patrick Kennedy',
  'job': 'editor',
  'characters': []},
 {'id': 'nm0862168',
  'url': 'https://www.imdb.com/name/nm0862168/',
  'fullName': 'Joel Thurm',
  'job': 'casting_director',
  'characters': []},
 {'id': 'nm0696509',
  'url': 'https://www.imdb.com/name/nm0696509/',
  'fullName': 'Ward Preston',
  'job': 'production_designer',
  'characters': []}]

In [ ]:
def get_cast(movie_json, character):
  for actor in movie_json:
    roles = [character.lower() for character in actor['characters']]
    for role in roles:
      if character in role:
        return actor['fullName']
  return "actor not found"


def get_actor_id(movie_json, actor_name):
  for actor in movie_json:
    if actor.get("fullName") == actor_name:
      return actor.get("id")
  return None

def get_actor_job(movie_json, actor_id):
  for actor in movie_json:
    if actor.get("id") == actor_id:
      return actor.get("job")
  return None

movie_dict = df_num.groupby("movie_title")["character"].apply(list).to_dict()
movie_dict.keys()

dict_keys(['10 things i hate about you', '1492: conquest of paradise', '15 minutes', '2001: a space odyssey', '8mm', 'a bucket of blood', 'a clockwork orange', 'a few good men', "a hard day's night", 'a nightmare on elm street', 'a nightmare on elm street 3: dream warriors', 'a nightmare on elm street 4: the dream master', "a nightmare on elm street part 2: freddy's revenge", 'a nightmare on elm street: the dream child', 'a perfect world', 'a serious man', 'a walk to remember', 'above the law', 'absolute power', 'ace ventura pet detective', 'adaptation', 'affliction', 'after school special', 'agnes of god', 'air force one', 'airplane'])

This API will actor info

In [ ]:
def get_actor_info(actor_id):
  url = "https://imdb-scraper3.p.rapidapi.com/api/v1/name/detail"
  querystring = {"id":f"{actor_id}"}
  headers = {
	"x-rapidapi-key": "91514d88a9msh6375841cf39c88bp1054afjsn72bc51c76bb4",
	"x-rapidapi-host": "imdb-scraper3.p.rapidapi.com"
}
  response = requests.get(url, headers=headers, params=querystring)
  return response.json()


def get_age(actor_json):
  return actor_json["data"]["result"].get("birthDate").get("date")


def get_bio(actor_json):
  return actor_json["data"]["result"].get("bio").get("text").get("plainText")

We extract the info to put into lists which are turned into columns of our dataframe

In [ ]:
actors = []
actor_ids = []
jobs = []
#appends the lists to add to dataframe with corresponding information
for movie in movie_dict.keys():
  for character in movie_dict[movie]:
    actor = get_cast(movie_jsons[movie], character)
    actors.append(actor)
    id = get_actor_id(movie_jsons[movie], actor)
    actor_ids.append(id)
    job = get_actor_job(movie_jsons[movie], id)
    jobs.append(job)

df_num["actor"] = actors
df_num["actor_id"] = actor_ids
df_num["job"] = jobs
df_num = df_num[df_num["actor"] != "actor not found"]

<ipython-input-36-f8429c2497ea>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_num["actor"] = actors
<ipython-input-36-f8429c2497ea>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_num["actor_id"] = actor_ids
<ipython-input-36-f8429c2497ea>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_num["job"] = jobs

In [ ]:
#this ensures that we have separate entries for the same actor who acted in
# two different movies / as two different characters in one movie
actor_tuples = [(row.memorable_quote, row.actor_id) for row in
                df_num.itertuples(index=False)]
actor_jsons = {}

len(actor_tuples)

62

Run for specific actor info

In [ ]:
for pair in actor_tuples:
  actor_jsons[pair] = get_actor_info(pair[1])

Get the date of births and the bios of specific actors

In [ ]:
DOBs = []
bios = []
for actor in actor_jsons:
  if actor in actor_jsons:  # Check if actor is present in actor_jsons
    DOB = get_age(actor_jsons[actor])
    bio = get_bio(actor_jsons[actor])
  else:
    age = "None"  # or any default value for missing age
    bio = "None"  # or any default value for missing bio

  DOBs.append(DOB)
  bios.append(bio)


df_num["actor_DOB"] = DOBs
df_num["actor_bio"] = bios

<ipython-input-41-0f68980ca5b3>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_num["actor_DOB"] = DOBs
<ipython-input-41-0f68980ca5b3>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_num["actor_bio"] = bios

This third call is a different endpoint on the first API we called. This is one retrieves a lot of information about the called movies. The information we care about is release date, so we can use that with DOB to calculate age.

In [ ]:
def get_movie_details(movie_id):
  url = f"https://imdb236.p.rapidapi.com/imdb/tt{movie_id}"

  headers = {
	"x-rapidapi-key": "91514d88a9msh6375841cf39c88bp1054afjsn72bc51c76bb4",
	"x-rapidapi-host": "imdb236.p.rapidapi.com"
}

  response = requests.get(url, headers=headers)

  return response.json()

movie_details = {}
for movie in unique_movies:
  id = get_id(movie)
  movie_date = get_movie_details(id)
  movie_details[movie] = movie_date

In [ ]:
#for movie release dates
movies_list = []
for title, details in movie_details.items():
    release_date = details.get("releaseDate", None)  # Get the release date for each movie
    movies_list.append({"title": title, "release_date": release_date})

This dataframe will be merged with our other dataframe to save requests since there are multiple characters in the same movies in this dataframe.

In [ ]:
#turn to dataframe to be merged
df_movies_list = pd.DataFrame(movies_list)
df_movies_list

                                                title release_date
0                          10 things i hate about you   1999-03-31
1                          1492: conquest of paradise   1992-10-09
2                                          15 minutes   2001-03-09
3                               2001: a space odyssey   1968-05-12
4                                                 8mm   1999-02-26
5                                   a bucket of blood   1959-10-21
6                                  a clockwork orange   1972-02-02
7                                      a few good men   1992-12-11
8                                  a hard day's night   1964-07-07
9                           a nightmare on elm street   1984-11-16
10        a nightmare on elm street 3: dream warriors   1987-02-27
11      a nightmare on elm street 4: the dream master   1988-08-19
12  a nightmare on elm street part 2: freddy's rev...   1985-11-01
13         a nightmare on elm street: the dream child   1989-08-11
14                                    a perfect world   1993-11-24
15                                      a serious man   2009-11-06
16                                 a walk to remember   2002-01-25
17                                      above the law   1988-04-22
18                                     absolute power   1997-02-14
19                          ace ventura pet detective   1994-02-04
20                                         adaptation   2003-02-14
21                                         affliction   1999-02-19
22                               after school special   2006-05-25
23                                       agnes of god   1985-09-27
24                                      air force one   1997-07-25
25                                           airplane   1980-07-02

In [ ]:
df_num

,Unnamed: 0,movie_title,character,memorable_quote,actor,actor_id,job,actor_DOB,actor_bio
0,0,10 things i hate about you,bianca,You're asking me out? That's so cute! What's y...,Larisa Oleynik,nm0646351,actress,1981-06-07,"Larisa Oleynik was born in Santa Clara County,..."
1,1,10 things i hate about you,cameron,"Just 'cause you're beautiful, that doesn't mea...",Joseph Gordon-Levitt,nm0330687,actor,1981-02-17,"Joseph Gordon-Levitt is an actor, filmmaker, a..."
2,2,10 things i hate about you,joey,Watching that bitch violate my car doesn't cou...,Andrew Keegan,nm0005080,actor,1979-01-29,"Andrew Keegan was born in Shadow Hills, Califo..."
3,3,10 things i hate about you,kat,"I guess in this society, being male and an ass...",Julia Stiles,nm0005466,actress,1981-03-28,"Lovely, Julia (O'Hara) Stiles, of Irish, Engli..."
4,4,10 things i hate about you,michael,"I have a dick on my face, don't I?",David Krumholtz,nm0472710,actor,1978-05-15,David Krumholtz is an American actor and comed...
...,...,...,...,...,...,...,...,...,...
88,88,affliction,wade,I think there's some dirty business going on i...,Nick Nolte,nm0000560,actor,1941-02-08,"Nick Nolte was born in Omaha, Nebraska and beg..."
90,90,agnes of god,agnes,As much as Mother Miriam loves me?,Meg Tilly,nm0000672,actress,1960-02-14,"Meg Tilly was set on being a dancer, and at 17..."
91,91,agnes of god,martha,As much as God loves you_I don't know the mean...,Jane Fonda,nm0000404,actress,1937-12-21,Born in New York City to legendary screen star...
94,94,air force one,gibbs,How the hell did they get Air Force One?,Xander Berkeley,nm0075359,actor,1955-12-16,Xander's father was a painter and his mother a...
98,98,airplane,dr. rumack,I just want to tell you both good luck. We're ...,Leslie Nielsen,nm0000558,actor,1926-02-11,"Leslie William Nielsen was born in Regina, Sas..."

This is one part of the dataframe. We ended up with 29 dataframes that we concatenated together.

In [ ]:
#Repeat steps until filling in entire dataframe
df_num.to_csv(f"df_{num}.csv")

Finding Actor Ages

In [ ]:
#merge movie with list
df_job_releaseDate = df_num.merge(df_movies_list, left_on="movie_title",
                                  right_on="title")
df_job_releaseDate.drop(columns=["title"], inplace=True)
#replace job titles with genders
df_job_releaseDate["job"] = df_job_releaseDate["job"].replace({"actor": "M",
                                                               "actress": "F"})

In [ ]:
#code to calculate age at time of release
df_job_releaseDate["actor_DOB"] = pd.to_datetime(df_job_releaseDate["actor_DOB"],
                                                 errors='coerce')
df_job_releaseDate["release_date"] = pd.to_datetime(df_job_releaseDate["release_date"],
                                                    errors='coerce')

df_job_releaseDate["age_at_release"] = (df_job_releaseDate["release_date"].dt.year
                                        - df_job_releaseDate["actor_DOB"].dt.year)

df_job_releaseDate

,Unnamed: 0,movie_title,character,memorable_quote,actor,actor_id,job,actor_DOB,actor_bio,release_date,age_at_release
0,0,10 things i hate about you,bianca,You're asking me out? That's so cute! What's y...,Larisa Oleynik,nm0646351,F,1981-06-07,"Larisa Oleynik was born in Santa Clara County,...",1999-03-31,18.0
1,1,10 things i hate about you,cameron,"Just 'cause you're beautiful, that doesn't mea...",Joseph Gordon-Levitt,nm0330687,M,1981-02-17,"Joseph Gordon-Levitt is an actor, filmmaker, a...",1999-03-31,18.0
2,2,10 things i hate about you,joey,Watching that bitch violate my car doesn't cou...,Andrew Keegan,nm0005080,M,1979-01-29,"Andrew Keegan was born in Shadow Hills, Califo...",1999-03-31,20.0
3,3,10 things i hate about you,kat,"I guess in this society, being male and an ass...",Julia Stiles,nm0005466,F,1981-03-28,"Lovely, Julia (O'Hara) Stiles, of Irish, Engli...",1999-03-31,18.0
4,4,10 things i hate about you,michael,"I have a dick on my face, don't I?",David Krumholtz,nm0472710,M,1978-05-15,David Krumholtz is an American actor and comed...,1999-03-31,21.0
...,...,...,...,...,...,...,...,...,...,...,...
57,88,affliction,wade,I think there's some dirty business going on i...,Nick Nolte,nm0000560,M,1941-02-08,"Nick Nolte was born in Omaha, Nebraska and beg...",1999-02-19,58.0
58,90,agnes of god,agnes,As much as Mother Miriam loves me?,Meg Tilly,nm0000672,F,1960-02-14,"Meg Tilly was set on being a dancer, and at 17...",1985-09-27,25.0
59,91,agnes of god,martha,As much as God loves you_I don't know the mean...,Jane Fonda,nm0000404,F,1937-12-21,Born in New York City to legendary screen star...,1985-09-27,48.0
60,94,air force one,gibbs,How the hell did they get Air Force One?,Xander Berkeley,nm0075359,M,1955-12-16,Xander's father was a painter and his mother a...,1997-07-25,42.0
61,98,airplane,dr. rumack,I just want to tell you both good luck. We're ...,Leslie Nielsen,nm0000558,M,1926-02-11,"Leslie William Nielsen was born in Regina, Sas...",1980-07-02,54.0

In [ ]:
df_job_releaseDate.rename(columns={ "job" : "gender"})

,Unnamed: 0,movie_title,character,memorable_quote,actor,actor_id,gender,actor_DOB,actor_bio,release_date,age_at_release
0,0,10 things i hate about you,bianca,You're asking me out? That's so cute! What's y...,Larisa Oleynik,nm0646351,F,1981-06-07,"Larisa Oleynik was born in Santa Clara County,...",1999-03-31,18.0
1,1,10 things i hate about you,cameron,"Just 'cause you're beautiful, that doesn't mea...",Joseph Gordon-Levitt,nm0330687,M,1981-02-17,"Joseph Gordon-Levitt is an actor, filmmaker, a...",1999-03-31,18.0
2,2,10 things i hate about you,joey,Watching that bitch violate my car doesn't cou...,Andrew Keegan,nm0005080,M,1979-01-29,"Andrew Keegan was born in Shadow Hills, Califo...",1999-03-31,20.0
3,3,10 things i hate about you,kat,"I guess in this society, being male and an ass...",Julia Stiles,nm0005466,F,1981-03-28,"Lovely, Julia (O'Hara) Stiles, of Irish, Engli...",1999-03-31,18.0
4,4,10 things i hate about you,michael,"I have a dick on my face, don't I?",David Krumholtz,nm0472710,M,1978-05-15,David Krumholtz is an American actor and comed...,1999-03-31,21.0
...,...,...,...,...,...,...,...,...,...,...,...
57,88,affliction,wade,I think there's some dirty business going on i...,Nick Nolte,nm0000560,M,1941-02-08,"Nick Nolte was born in Omaha, Nebraska and beg...",1999-02-19,58.0
58,90,agnes of god,agnes,As much as Mother Miriam loves me?,Meg Tilly,nm0000672,F,1960-02-14,"Meg Tilly was set on being a dancer, and at 17...",1985-09-27,25.0
59,91,agnes of god,martha,As much as God loves you_I don't know the mean...,Jane Fonda,nm0000404,F,1937-12-21,Born in New York City to legendary screen star...,1985-09-27,48.0
60,94,air force one,gibbs,How the hell did they get Air Force One?,Xander Berkeley,nm0075359,M,1955-12-16,Xander's father was a painter and his mother a...,1997-07-25,42.0
61,98,airplane,dr. rumack,I just want to tell you both good luck. We're ...,Leslie Nielsen,nm0000558,M,1926-02-11,"Leslie William Nielsen was born in Regina, Sas...",1980-07-02,54.0

Generally, movies take about a year after filming before being released in theaters, so we wanted to take in account the estimate of when the actor/actress said the line to see if there were any problematic trends.

In [ ]:
#column for approx age while filming, most movies take about a year after filming to come out
df_job_releaseDate["approx_age_filming"] = df_job_releaseDate["age_at_release"] - 1

Cleaning the data

In [63]:

df_cleaned = df_job_releaseDate.dropna(subset=["release_date", "actor_DOB"])
missing_values_after = df_cleaned[["release_date", "actor_DOB"]].isna().sum()

Wanted an easy way to know how many quotes are said by one person. Not gonna be as helpful since we are going to separate the data by individual quotes instead of characters

In [ ]:
df_cleaned["quote_count"] = df_cleaned["memorable_quote"].str.count("_") + 1

<ipython-input-55-898c7fb7e3ce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["quote_count"] = df_cleaned["memorable_quote"].str.count("_") + 1

In [ ]:
#repeat for until all data is recorded
df_cleaned

,Unnamed: 0,movie_title,character,memorable_quote,actor,actor_id,job,actor_DOB,actor_bio,release_date,age_at_release,approx_age_filming,quote_count
0,0,10 things i hate about you,bianca,You're asking me out? That's so cute! What's y...,Larisa Oleynik,nm0646351,F,1981-06-07,"Larisa Oleynik was born in Santa Clara County,...",1999-03-31,18.0,17.0,1
1,1,10 things i hate about you,cameron,"Just 'cause you're beautiful, that doesn't mea...",Joseph Gordon-Levitt,nm0330687,M,1981-02-17,"Joseph Gordon-Levitt is an actor, filmmaker, a...",1999-03-31,18.0,17.0,3
2,2,10 things i hate about you,joey,Watching that bitch violate my car doesn't cou...,Andrew Keegan,nm0005080,M,1979-01-29,"Andrew Keegan was born in Shadow Hills, Califo...",1999-03-31,20.0,19.0,1
3,3,10 things i hate about you,kat,"I guess in this society, being male and an ass...",Julia Stiles,nm0005466,F,1981-03-28,"Lovely, Julia (O'Hara) Stiles, of Irish, Engli...",1999-03-31,18.0,17.0,4
4,4,10 things i hate about you,michael,"I have a dick on my face, don't I?",David Krumholtz,nm0472710,M,1978-05-15,David Krumholtz is an American actor and comed...,1999-03-31,21.0,20.0,1
5,5,10 things i hate about you,patrick,Who knocked up your sister?_I was watching you...,Heath Ledger,nm0005132,M,1979-04-04,"When hunky, twenty-year-old heart-throb Heath ...",1999-03-31,20.0,19.0,5
6,6,10 things i hate about you,walter,"You're 18, you don't know what you want. And y...",Larry Miller,nm0588777,M,1953-10-15,Larry Miller was born on 15 October 1953 in Va...,1999-03-31,46.0,45.0,1
7,7,1492: conquest of paradise,fernando,Of all the words my father wrote - and there w...,Loren Dean,nm0000363,M,1969-07-31,Loren Dean was born on 31 July 1969 in Las Veg...,1992-10-09,23.0,22.0,1
8,8,15 minutes,emil,I can kill you - I'm insane._I love America. N...,Karel Roden,nm0734558,M,1962-05-18,Karel Roden is an internationally known actor ...,2001-03-09,39.0,38.0,2
9,11,8mm,max,"Oh, he's a lover, man... definitely loves what...",Joaquin Phoenix,nm0001618,M,1974-10-28,Joaquin Phoenix was born Joaquin Rafael Bottom...,1999-02-26,25.0,24.0,1
10,12,a bucket of blood,maxwell,"Where are John, Joe, Jake, Jim, jerk? Dead, de...",Julian Burton,nm0123630,M,1932-06-04,Julian Burton was born on 4 June 1932 in Detro...,1959-10-21,27.0,26.0,2
11,13,a bucket of blood,walter,"I didn't mean to hurt you, Lou. But if you'd h...",Dick Miller,nm0588241,M,1928-12-25,"Born in the Bronx, New York to Russian Jewish ...",1959-10-21,31.0,30.0,2
12,14,a clockwork orange,alex,One thing I could never stand was to see a fil...,Malcolm McDowell,nm0000532,M,1943-06-13,"Malcolm John Taylor was born on June 13, 1943 ...",1972-02-02,29.0,28.0,19
13,15,a clockwork orange,chief guard,Pick that up and put it down properly!_Are you...,Michael Bates,nm0060988,M,1920-12-04,Michael Bates was born on 4 December 1920 in J...,1972-02-02,52.0,51.0,3
14,19,a few good men,jessep,"You see Danny, I can deal with the bullets, an...",Jack Nicholson,nm0000197,M,1937-04-22,"Jack Nicholson, an American actor, producer, d...",1992-12-11,55.0,54.0,3
15,20,a few good men,kaffee,Why does a Lieutenant Junior Grade with nine m...,Tom Cruise,nm0000129,M,1962-07-03,"In 1976, if you had told fourteen-year-old Fra...",1992-12-11,30.0,29.0,8
16,21,a few good men,sam,"""I strenuously object?"" Is that how it works? ...",Kevin Pollak,nm0001629,M,1957-10-30,Kevin (Elliott) Pollak was born in San Francis...,1992-12-11,35.0,34.0,1
17,22,a hard day's night,director,You don't know what this means to me. If you h...,Victor Spinetti,nm0818920,M,1929-09-02,Comic eccentric and gifted raconteur Victor Sp...,1964-07-07,35.0,34.0,2
18,23,a hard day's night,george,"He's very fussy about his drums, you know. The...",George Harrison,nm0365600,M,1943-02-25,"A master musician, a film producer and actor, ...",1964-07-07,21.0,20.0,1
19,24,a hard day's night,john,He's sex obsessed! The older generation's lead...,John Lennon,nm0006168,M,1940-10-09,John Winston (later Ono) Lennon was born on Oc...,1964-07-07,24.0,23.0,4
20,25,a hard day's night,norm,God knows what you've unleashed on the unsuspe...,Norman Rossington,nm0744395,M,1928-12-24,British character actor Norman Rossington was ...,1964-07-07,36.0,35.0,1
21,26,a hard day's night,ringo,I'm going out parading before it's too late!_T...,Ringo Starr,nm0823592,M,1940-07-07,"Ringo Starr is a British musician, actor, dire...",1964-07-07,24.0,23.0,2
22,27,a nightmare on elm street,glen,"I'm going to punch out your ugly lights, whoev...",Johnny Depp,nm0000136,M,1963-06-09,"John Christopher ""Johnny"" Depp II was born on ...",1984-11-16,21.0,20.0,3
23,28,a nightmare on elm street,krueger,"I'm your boyfriend now, Nancy.",Robert Englund,nm0000387,M,1947-06-06,Veteran character actor Robert Englund was bor...,1984-11-16,37.0,36.0,1
24,29,a nightmare on elm street,nancy,"One, two, Freddy's coming for you. / Three, fo...",Heather Langenkamp,nm0000486,F,1964-07-17,"Heather Langenkamp was born in Tulsa, Oklahoma...",1984-11-16,20.0,19.0,5
25,30,a nightmare on elm street,rod,Guys can have nightmares too ya know. Ya ain't...,Jsu Garcia,nm0006987,M,1963-10-06,"Jsu Garcia, DSS is an actor/director and minis...",1984-11-16,21.0,20.0,2
28,35,a nightmare on elm street 3: dream warriors,kristen,"You stupid bitch, you're killing us... YOU'RE ...",Patricia Arquette,nm0000099,F,1968-04-08,"With her expressive blue eyes, soft, Southern-...",1987-02-27,19.0,18.0,1
29,38,a nightmare on elm street 3: dream warriors,nancy,"It's now or never. I'm not gonna kid you, this...",Heather Langenkamp,nm0000486,F,1964-07-17,"Heather Langenkamp was born in Tulsa, Oklahoma...",1987-02-27,23.0,22.0,1
30,39,a nightmare on elm street 3: dream warriors,neil,My God. You were his mother.,Craig Wasson,nm0913738,M,1954-03-15,Craig Wasson was born on 15 March 1954 in Onta...,1987-02-27,33.0,32.0,1
32,42,a nightmare on elm street 3: dream warriors,will,In my dreams I can walk. My legs are strong. I...,Ira Heiden,nm0373934,M,1966-09-22,Ira Heiden was born on 22 September 1966 in Ne...,1987-02-27,21.0,20.0,1
33,45,a nightmare on elm street 4: the dream master,freddy,"I wanna draw some blood!_You can check in, but...",Robert Englund,nm0000387,M,1947-06-06,Veteran character actor Robert Englund was bor...,1988-08-19,41.0,40.0,10
34,51,a nightmare on elm street part 2: freddy's rev...,freddy,"Go ahead, Jesse. Try it on for size._He can't ...",Robert Englund,nm0000387,M,1947-06-06,Veteran character actor Robert Englund was bor...,1985-11-01,38.0,37.0,3
35,52,a nightmare on elm street part 2: freddy's rev...,grady,Schneider got wasted last night. He must have ...,Robert Rusler,nm0750852,M,1965-09-20,"Robert Rusler - actor, athlete, writer, and na...",1985-11-01,20.0,19.0,2
36,54,a nightmare on elm street part 2: freddy's rev...,lisa,Fight him. You are not afraid of him! He doesn...,Kim Myers,nm0616766,F,1966-02-15,"Kim Myers was born on 15 February 1966, in Los...",1985-11-01,19.0,18.0,1
38,57,a nightmare on elm street: the dream child,freddy,"Hey, Danny, better not dream and drive._Kids.....",Robert Englund,nm0000387,M,1947-06-06,Veteran character actor Robert Englund was bor...,1989-08-11,42.0,41.0,3
39,58,a nightmare on elm street: the dream child,mark,Why don't you shut up and let her talk? I mean...,Joe Seely,nm0781618,M,1960-02-18,Joe Seely was born on 18 February 1960 in Los ...,1989-08-11,29.0,28.0,1
40,61,a perfect world,butch,"You know, Phillip, you have a goddamned red, w...",Kevin Costner,nm0000126,M,1955-01-18,"Kevin Michael Costner was born on January 18, ...",1993-11-24,38.0,37.0,2
41,63,a serious man,larry,I feel like the carpet's been yanked out from ...,Michael Stuhlbarg,nm0836121,M,1968-07-05,Michael Stewart Stuhlbarg was born in Long Bea...,2009-11-06,41.0,40.0,2
42,65,a walk to remember,jamie,"Our love is like the wind... I can't see it, b...",Mandy Moore,nm0601553,F,1984-04-10,"Amanda Leigh Moore was born in Nashua, New Ham...",2002-01-25,18.0,17.0,1
43,66,a walk to remember,landon,All I know is... you're beautiful.,Shane West,nm0922342,M,1978-06-10,Shane West was born Shannon Bruce Snaith in 19...,2002-01-25,24.0,23.0,1
44,67,above the law,salvano,"This maniac should be wearing a number, not a ...",Daniel Faraldo,nm0267066,M,1949-11-04,Daniel Faraldo was born on 4 November 1949 in ...,1988-04-22,39.0,38.0,1
45,68,absolute power,burton,"Miss Russell, I should've called the police th...",Scott Glenn,nm0001277,M,1939-01-26,"Scott Glenn was born January 26, 1939, in Pitt...",1997-02-14,58.0,57.0,1
46,71,absolute power,kate,Do you know what it's like to be the only kid ...,Laura Linney,nm0001473,F,1964-02-05,Laura Leggett Linney was born in New York City...,1997-02-14,33.0,32.0,1
47,72,absolute power,luther,"This person, they... they go in the front door...",Clint Eastwood,nm0000142,M,1930-05-31,"Clinton Eastwood Jr. was born May 31, 1930 in ...",1997-02-14,67.0,66.0,3
48,74,absolute power,seth,"Kate, he's on the run and he's scared. And he'...",Ed Harris,nm0000438,M,1950-11-28,By transforming into his characters and pullin...,1997-02-14,47.0,46.0,1
49,75,absolute power,walter sullivan,I'd been married to my Rebecca for forty-seven...,E.G. Marshall,nm0550855,M,1914-06-18,With over 150 Film and TV appearances to his c...,1997-02-14,83.0,82.0,1
50,76,ace ventura pet detective,ace,Warning. Assholes are closer than they appear....,Jim Carrey,nm0000120,M,1962-01-17,"Jim Carrey, Canadian-born and a U.S. citizen s...",1994-02-04,32.0,31.0,7
52,80,adaptation,donald,"Okay, well here's the twist. We find out that,...",Nicolas Cage,nm0000115,M,1964-01-07,Nicolas Cage was born Nicolas Kim Coppola in L...,2003-02-14,39.0,38.0,1
53,82,adaptation,kaufman,There are too many ideas and things and people...,Nicolas Cage,nm0000115,M,1964-01-07,Nicolas Cage was born Nicolas Kim Coppola in L...,2003-02-14,39.0,38.0,2
54,83,adaptation,laroche,"Look, I'll tell you a story, all right? I once...",Chris Cooper,nm0177933,M,1951-07-09,Christopher Walton Cooper was born in Kansas C...,2003-02-14,52.0,51.0,1
55,84,adaptation,orlean,I suppose I do have one unembarrassed passion....,Meryl Streep,nm0000658,F,1949-06-22,Considered by many critics to be the greatest ...,2003-02-14,54.0,53.0,2
56,85,affliction,lariviere,That's what I love about this small town. Ever...,Holmes Osborne,nm0651660,M,1947-11-07,Holmes Osborne was born on 7 November 1947 in ...,1999-02-19,52.0,51.0,1
57,88,affliction,wade,I think there's some dirty business going on i...,Nick Nolte,nm0000560,M,1941-02-08,"Nick Nolte was born in Omaha, Nebraska and beg...",1999-02-19,58.0,57.0,3
58,90,agnes of god,agnes,As much as Mother Miriam loves me?,Meg Tilly,nm0000672,F,1960-02-14,"Meg Tilly was set on being a dancer, and at 17...",1985-09-27,25.0,24.0,1
59,91,agnes of god,martha,As much as God loves you_I don't know the mean...,Jane Fonda,nm0000404,F,1937-12-21,Born in New York City to legendary screen star...,1985-09-27,48.0,47.0,2
60,94,air force one,gibbs,How the hell did they get Air Force One?,Xander Berkeley,nm0075359,M,1955-12-16,Xander's father was a painter and his mother a...,1997-07-25,42.0,41.0,1
61,98,airplane,dr. rumack,I just want to tell you both good luck. We're ...,Leslie Nielsen,nm0000558,M,1926-02-11,"Leslie William Nielsen was born in Regina, Sas...",1980-07-02,54.0,53.0,3

In [ ]:
#ends up with this dataset after repeating
df = pd.read_csv("df_cleaned-4.csv")